{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-3xl mx-auto">
        <div class="text-center mb-8">
            <h1 class="text-3xl font-extrabold text-gray-900 mb-2">Ajouter un Article</h1>
            {# <p class="text-lg text-gray-600">Fill out the form below to add a new article</p> #}
        </div>

        <div class="bg-white shadow rounded-lg p-6 mb-8">
            {{ include('article/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}